body{
    margin: 0;
}
header{
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    background-color: #FFC017;
    padding: 20px 100px;
    border-bottom: 1px solid black;
}
.logo{
    width: 25%;
}
.nav{
    display:flex;
}
.nav button{
    width: 100px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 11pt;
}
.nav button:last-child{
    background-color: black;
    color: white;
    border-radius: 30px;
    height: 50px;
}
.nav button:last-child:hover{
    background-color:green;
}
.start button{
    padding: 0 30px;
    font-size: 16pt;
    background-color: black;
    color: white;
    border-radius: 30px;
    height: 50px;
    font-weight: medium;
    cursor: pointer;
}
.start p{
    font-size: x-large;
}
h1{
    margin: auto;
    font-size: 65pt;
    font-weight: normal;
}
.start{
    background-color: #FFC017;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 90px;
    border-bottom:1px solid black;
}
.schedule{
    width: 55%;
    margin-top: 40px;
    margin-left: 100px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);
}
.schedule button{
    color: grey;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.magazine{
    width: 38%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 100px;
}
.magazine p{
    color: grey;
}
.react{
    border: none;
    background-color: rgba(128, 128, 128, 0.281);
    color: gray;
    border-radius: 15px;
    cursor: pointer;
}
.picture{
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin-top: 40px;
    width: 17%;
}
main{
    display: flex;
}
#section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    width: 30%;
    border: 1px solid rgba(128, 128, 128, 0.507);
}
.picture img{
    height: 150px;
    margin-bottom: 24px;
}
figcaption{
    display: inline-block;
    margin-left: 15px;
}
#section div:first-child{
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);
}
